@import './variables.scss';
// @import './mixin.scss';
@import './transition.scss';
@import './sidebar.scss';
@import './topbar.scss';
// @import './element.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft yahei light, Helvetica Neue, Helvetica, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #409eff;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  color: #66b1ff;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%;
}

.app-container {
  // padding: 20px;
}

// nprogress 进度条样式
#nprogress .bar {
  background: $themeColor !important;
}

.filter-box {
  background: #fafafa;
  padding: 10px;
  margin-bottom: 15px;

  .label {
    font-size: 14px;
  }

  & > .el-radio-group {
    float: left;
    margin-right: 15px;
  }

  & > .el-input {
    float: left;
    margin-right: 15px;
    width: unset;
  }

  & > .el-date-editor {
    float: left;
    margin-right: 15px;
    width: unset;
  }

  & > .el-button {
    float: left;
  }
}
