$themeColor: #009688;

//sidebar
$menuText: rgba(255, 255, 255, 1);
$menuActiveText: #ffffff;
$subMenuActiveText: #ffffff;

$menuBg: #009688;
$menuHover: rgb(0, 120, 109);

$subMenuBg: #009688;
$subMenuHover:rgb(0, 120, 109);

$menuActiveBg: #41b883;

$sideBarWidth: 180px;
$topBarHeight: 60px;

// the :export directive is the magic sauce for webpack
:export {
  themeColor: $themeColor;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuActiveBg: $menuActiveBg;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
